/* Play Field */
#play-field {
    width: 260px;
}

table {
    display: inline-block;
    margin-right: 5px;
}

td {
    border: 1px solid black;
}

.alphabets {
    color: red;
}

td, .alphabet, .number {
    text-align: center;
    width: 45px;
    height: 45px;
}

td:not(.alphabets), .alphabet, .number {
    background-color: yellow;
}

.clicked {
    color: red;
    border: 2px dotted red !important;
    border-radius: 20px;
}

/* ////////// Play Field ///////// */

/* Generator */
.alphabet, .number {
    border: 2px dashed deeppink;
    border-radius: 50px;
}

.alphabet {
    margin-right: 10px;
    margin-bottom: 40px;
}

#generator {
    vertical-align: top;
    line-height: 50px;
}

/* ////////// Generator ///////// */

/* Buttons and Inputs */
#play-buttons {
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 50px;
}

#n-cards {
    font-size: 1.5em;
}

button, #n-cards {
    background-color: greenyellow;
    border-color: deepskyblue;
    border-style: outset;
}

/* ////////// Buttons ///////// */

#play-field, #generator, #rest, .alphabet {
    display: inline-block;
}

#rest {
    vertical-align: top;
}