td {
	border: 1px solid black;
}
td, .alphabet, .number {
	text-align: center;
	width: 50px;
	height: 50px;
}
td:not(.alphabets), .alphabet, .number {
	background-color: yellow;
}
#play-field {
    width: 100%;
    text-align: center;
}
#cards {
    margin-left: auto;
    margin-right: auto;
}
table {
    display: inline-block;
    margin-right: 5px;
}
.alphabets {
	color: red;
}
#generator {
    vertical-align: top;
    line-height: 50px;
}
.card, #generator, .alphabet{
    display: inline-block;
}
.clicked {
    color: red;
    border: 2px dotted red !important;
    border-radius: 20px;
}
.alphabet, .number {
    border: 2px dashed deeppink;
    border-radius: 50px;
}
.alphabet {
    margin-right: 10px;
    margin-bottom: 40px;
}